// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
// body, h1, h2, h3, h4, h5, h6,
// p, blockquote, pre, hr,
// dl, dd, ol, ul, figure {
//   margin: 0;
//   padding: 0;
// }

// img.nooverflow {
//   display: inline-block;
//   // margin-right:10px;
//   vertical-align: middle;
// }

p.nooverflow {
  overflow: hidden;
  // margin-bottom: 0;
  // vertical-align: middle;
  /* this is what keep the <p> from wrapping */
  // display: inline-block;
  // vertical-align: middle;
}

.content-holder {
  display: inline-block;
  vertical-align: middle;
}
